---
export interface Props {
  name: string
  description: string
  url: string
}

const { name, description, url } = Astro.props
---

<a
  href={url}
  class="border-skin-line hover:border-skin-accent group flex w-full grow flex-col rounded-lg border p-4"
>
  <p
    class="text-skin-accent text-lg font-semibold whitespace-nowrap decoration-dashed underline-offset-4 group-hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {name}
  </p>
  <p>{description}</p>
</a>
