---
export interface Props {
  name: string
  description: string
  url: string
}

const { name, description, url } = Astro.props
---

<a
  href={url}
  class="group border-skin-line hover:border-skin-accent group mx-1 mb-3 flex w-full grow flex-col rounded-lg border p-4 underline-offset-8 group-hover:cursor-pointer"
>
  <p
    class="relative pb-3 text-lg underline decoration-dashed group-hover:-top-0.5 group-hover:text-accent focus-visible:p-1"
  >
    {name}
  </p>
  <p>{description}</p>
</a>
